<div class="mt-4 mb-4 d-flex justify-content-center">
  <button type="button" class="btn btn-primary tw-bg-blue-500 tw-my-4" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover">
    Popover on bottom
  </button>
</div>
